{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House</a></li>
      <li>Closing a limited company</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Understanding the company's responsibilities
      </h1>


      <h3 class="heading-medium">Who to tell about your company closing</h3>
      <p>A company must inform all interested parties that it is going to close. All interested parties must be informed within 7 days of the application being submitted.
        <br>Interested parties may include:</p>
        <ul class="list list-bullet">
          <li>members, usually shareholders</li>
          <li>creditors</li>
          <li>employees</li>
        </ul>
        <p>
          Read the full list of <a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration-gp4#how-to-apply-for-strike-off-and-who-to-tell">who to tell<span class="visuallyhidden"> about your company closing</span></a>.
        </p>

        <div class="notice" style="margin-bottom: 1.5em;">
          <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
          </i>
          <strong class="bold-small">
            It is an offence not to tell all interested parties
          </strong>
        </div>

        <div class="form-group">
          <form>
            <fieldset>

              <label class="block-label" for="">
                <input id="" name="" type="checkbox" value="">
                The company understands that it is responsible for notifying all interested parties
              </label>

            </fieldset>
          </form>

        </div>


        <p>
          <a href="/forms/sign-in" class="button">Continue</a>
        </p>
      </div>

      <!--<div class="column-one-third">
      <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-medium" id="subsection-title">Subsection</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
      <li><a href="https://www.gov.uk/government/publications/company-strike-off-dissolution-and-restoration/strike-off-dissolution-and-restoration-gp4">Full strike off, dissolution and restoration guidance (GP4)</a></li>
      <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
    </ul>
  </nav>
</aside>
</div>-->

</div>

</main>

{% endblock %}
