{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main" class="browse">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Company registration and filing</a></li>
      <li>Companies House forms</li>
    </ol>
  </div>

  <div class="browse-panes root subsection" aria-busy="false"><div id="subsection" class="pane" style=""><div class="pane-inner a-to-z">
    <h1 tabindex="-1">Strike off and dissolution</h1>

    <p class="sort-order">A to Z</p>

    <ul>
      <li><a href="start">Strike off a company from the register (DS01)</a></li>
      <li><a href="https://www.gov.uk/government/publications/withdraw-a-striking-off-application-by-company-ds02">Cancel your DS01 (DS02)</a></li>
    </ul>

  </div>
</div><div id="section" class="pane" style=""><div class="pane-inner alphabetical" style="">
  <h1 tabindex="-1">Forms for limited companies</h1>
  <p class="sort-order" style="">A to Z</p>
  <ul>
    <li class="">
      <a href="" class="">
        <h3>Accounts</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Annual return</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Change of registered office</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Change of name</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Change of constitution</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Company records</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Directors and secretaries</h3>
      </a>
    </li>
    <li class="active">
      <a href="/browse/business/funding-debt">
        <h3>Strike off and dissolution</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Incorporation</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Investment companies</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Mortgage for charges created on or after 6 April 2013</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Mortgage for charges created before, on or after 6 April 2013</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Mortgage for Scottish company charges created before, on or after 6 April 2013</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Opening of overseas branch register</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Other appointments</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Receivers and managers</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Registrar's powers</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Voluntary translation</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Re-registration</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Resolutions</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Restoration</h3>
      </a>
    </li>
    <li class="">
      <a href="">
        <h3>Share capital</h3>
      </a>
    </li>
  </ul>
</div>
</div>
<div id="root" class="pane" style="">
  <h1 class="visuallyhidden" tabindex="-1">All categories</h1>
  <ul>
    <li class="active">
      <a href="/browse/business" class="">Forms for limited companies</a>
    </li>
    <li class="">
      <a href="" class="">Forms for limited liability partnerships</a>
    </li>
    <li class="">
      <a href="" class="">Forms for limited partnerships</a>
    </li>
    <li class="">
      <a href="" class="">Forms for overseas companies</a>
    </li>
    <li class="">
      <a href="" class="">Forms for European company Societas Europaea</a>
    </li>
    <li class="">
      <a href="" class="">Forms for European Economic Interest Groupings</a>
    </li>
    <li class="">
      <a href="" class="">Forms for cross border mergers</a>
    </li>
    <li class="">
      <a href="" class="">Forms for other company legislation and registration acts</a>
    </li>
    <li class="">
      <a href="" class="">Forms for insolvency</a>
    </li>
    <li class="">
      <a href="" class="">Bilingual forms (Engligh/Welsh) for limited companies and limited liability partnerships</a>
    </li>
  </ul>
</div>

</div>

</main>

{% endblock %}
