{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
    {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Strike off a company from the register (DS01)</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">Review strike off request</h1>
  <p class="lede">
    Your signed request is shown below and should be checked by you to ensure all information is correct. <span class="bold-medium">Your request has not been submitted</span> until you have reviewed this document and the associated fee has been paid on the following page.
  </p>

  <div class="docusign" style="text-align: left;">
      <img src="/public/images/completed-form-newpdf.gif" alt="">
  </div>

  <div class="button-spacing">
    <a href="payment" class="button">Continue</a>
  </div>
  <p>
    <a href="company-details">Start over</a>
  </p>

</main>

{% endblock %}
