{% extends "layout.html" %}

{% block page_title %}
Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Submission complete</h1>
        <p>
          Your submission has been received. Your customer reference number is:<br>
          <strong class="heading-medium">FE05647510-AA57D</strong>
        </p>
      </div>

      <h2 class="heading-medium">What happens now?</h2>
      <p>We'll send you an email confirming that your submission has been received.</p>
      <div class="panel panel-border-wide">
        <p><a href="">Download a copy of your submitted Statement of Capital (PDF, 205Kb)</a></p>
      </div>
      <p>When your Statement of Capital has been processed, we will send you a further email to tell you whether your documents have been accepted or rejected.  If any document has been rejected, we will explain the reasons why.</p>

    </div>
</div>

</main>

{% endblock %}
