{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    How will you be paying
  </h1>

  <p class="lede">
    Your application will not be submitted until you have made this payment.
  </p>

  <form action="">

    <h3 class="heading-medium">
      Which payment service do you require?
    </h3>

    <div class="form-group">
      <fieldset>
        <label class="block-label" for="radio-4">
          <input id="radio-4" type="radio" name="radio-group" value="">
          Normal service at £10
        </label>
        <label class="block-label" for="radio-5" data-target="">
          <input id="radio-5" type="radio" name="radio-group" value="">
          Same-day service st £50
        </label>
      </fieldset>
    </div>
  </form>



  <!--<form action="">

    <h3 class="heading-medium">
      How do you want to make the payment?
    </h3>

    <div class="form-group">
      <fieldset>
        <legend class="visuallyhidden">Choose how you want to make the payment</legend>
        <label class="block-label" for="radio-2">
          <input id="radio-2" type="radio" name="radio-group" value="">
          Credit or Debit card
        </label>
        <label class="block-label" for="radio-3" data-target="account-panel">
          <input id="radio-3" type="radio" name="radio-group" value="">
          Payment on Account
        </label>
        <div class="panel panel-border-narrow js-hidden" id="account-panel">
          <div class="form-group">
            <label class="form-label" for="presenter-id">Presenter ID</label>
            <input class="form-control" id="presenter-id" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="auth-code">Presenter authorisation code</label>
            <input class="form-control" id="auth-code" type="text">
          </div>
          <div class="form-group">
            <label class="form-label" for="customer-ref">Customer reference (optional)</label>
            <input class="form-control" id="customer-ref" type="text">
          </div>
        </div>
      </fieldset>
    </div>
  </form>-->

    <a class="button" href="credit-debit" role="button">Continue to payment</a>

</main>

{% endblock %}
