{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}


{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form class="form" method="POST" action="company-details" name="">
        <h1 class="heading-xlarge">Additional information</h1>
        <p class="lede">An administrative reduction in capital requires the following documents:</p>
        <ul class="list list-bullet">
          <li>special resolution authorising the capital reduction</li>
          <li>solvency statement</li>
          <li>directors’ statement of compliance</li>
        </ul>
          <p>You can file any of these documents separately but the Statement of Capital will not be processed until you’ve filed them all successfully.  The directors’ statement needs to be an original document and therefore must be submitted on paper.</p>


      <div class="form-group">
        <!--<input class="button" type="submit" value="Continue">-->
        <a class="button" href="company-details" role="button">Continue</a>
      </div>
    </form>

  </div>
</main>

{% endblock %}
