{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Sign in to Companies House</h1>
      <form class="form" method="POST" action="/forms/DS01/company-details" name="signin">

        <div class="form-group">
          <label class="form-label" for="signin-email">Email address</label>
          <input class="form-control" id="signin-email" name="signin-email" type="email">
        </div>

        <div class="form-group">
          <label class="form-label" for="signin-password">Password</label>
          <input class="form-control" id="signin-password" name="signin-password" type="password">
        </div>

        <div class="form-group">
          <a class="button" href="company-details" role="button">Continue</a>
        </div>

        <p>
          <a href="register">Register</a>
        </p>
        <p>
          <a href="password-reminder">Forgotten your password?</a>
        </p>

      </form>
    </div>
    <div class="column-third">
</aside>

</div>
</div>

</main>

{% endblock %}
