{% extends "layout.html" %}

{% block page_title %}
Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Updating your share capital (SH19)
      </h1>

      <p class="lede">
        You can use this service to submit a Statement of Capital following an administrative reduction in share capital for a private limited company.
      </p>

      <p>You will need:</p>

      <ul class="list list-bullet">
        <li>the company number</li>
        <li>the company authentication code</li>
        <li>a credit or debit card</li>
      </ul>

      <p>The fee is £10 for the standard service (up to 2 working days) or £50 for the same-day service.</p>
      <p>It normally takes 10 minutes to complete this process.</p>

      <p>
        <a class="button button-start" href="plc-or-limited" role="button">Start now</a>
      </p>
      <p>If you wish to file a reduction in capital by court order or one which requires a re-registration of the company, you must file on paper.</p>

      <!--<p>This service is also available in <a href="#">Welsh (Cymraeg).</a></p>-->

    </div>
    <div class="column-third">

      <!--<aside class="govuk-related-items" role="complementary">
      <h2 class="heading-medium" id="subsection-title">Subsection</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="font-xsmall">
      <li><a href="#">Related link</a></li>
      <li><a href="#">Related link</a></li>
      <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
    </ul>
  </nav>
</aside>-->

</div>
</div>

</main>

{% endblock %}
