{% extends "layout.html" %}

{% block page_title %}
Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>


  <h1 class="heading-xlarge">
    Additional documents
  </h1>

  <p class="lede">
    You can upload additional documents with this application, or it can be submitted by itself.
  </p>

  <h2 class="heading-large">
    Documents you can also submit
  </h2>
  <p>If you wish to use the same day service, we will need all these documents. If you have already sent one of these documents, you do not need to send it again.</p>

  <div class="form-group">

    <table>
      <thead>
        <tr>
          <th scope="col" class="doc-name">Document name</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Solvency statement (CAP SS)</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
        <tr>
          <td>Resolution</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
        <tr>
          <td>Directors' statement of compliance (SH20)</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
      </tbody>
    </table>

  </div>

  <p>
    <a class="button" href="review" role="button">Submit documents</a>
  </p>


</main>

{% endblock %}
