{% extends "layout.html" %}

{% block page_title %}
Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Updating your share capital (SH19)</li>
    </ol>
  </div>


  <h1 class="heading-xlarge">
    Additional documents
  </h1>

  <p class="lede">
    You need to file other documents as well as the Statement of Capital before the company’s capital can be reduced.  If the relevant documents have already been filed, there is no need to file them again.  The Statement of Capital will not be processed or entered onto the company’s register until all the relevant documents have been filed successfully.<br>
    You can upload additional documents with this application or the Statement of Capital can be submitted by itself.
  </p>

  <h2 class="heading-large">
    Documents you can also submit
  </h2>
  <p>If you wish to use the same day service, we will need all these documents. If you have already sent one of these documents, you do not need to send it again.</p>

  <div class="form-group">

    <table>
      <thead>
        <tr>
          <th scope="col" class="doc-name">Document name</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Solvency statement</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
        <tr>
          <td>Resolution</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
        <tr>
          <td>Covering letter (optional)</td>
          <td>Not yet uploaded</td>
          <td><a href="" class="link">Add document</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Directors’ statement of compliance Original document to be filed on paper</p>
    <p>Any covering letter will not appear on the public register.</p>
    <p>If the company has made other changes to its capital, you will need to file any other capital forms separately.</p>
  <p>
    <a class="button" href="review" role="button">Submit documents</a>
  </p>


</main>

{% endblock %}
