// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

//Docusign Styles
.docusign {
  &.unsigned {
    background: url('/public/images/docusign-new-pdf.gif');
    background-size: cover;
    height: 1280px;
    position: relative;
    overflow: hidden;
    .add-sig-box {
      position: absolute;
      left: 267px;
      bottom: 355px;
    }
    .sign-tag {
      position: absolute;
      bottom:370px;
      left:15px;
    }
    .sig {
      display: none;
      position: absolute;
      bottom: 370px;
      left: 269px;
    }
    .confirm-bar {
      width: 960px;
      height: 50px;
      position: absolute;
      bottom: -50px;
      left: 0;
      background: url('/public/images/confirm-bar.png');
      .conf-btn {
        position: absolute;
        top: 5px;
        left: 667px;
      }
    }
  }
}

/*Ugly CSS which James will SASSify! */
.positive {
  background-color:$turquoise;
  color:$page-colour;
  display: block;
  padding:0.3em;
}
.negative {
  background-color:$error-colour;
  color:$page-colour;
  display: block;
  padding:0.3em;
}
.positive-text {
  color:$turquoise;
  font-size: 1.25em;
  display:inline-block;
  padding-right: 0.4em;
}
.negative-text {
  color:$error-colour;
  font-size: 1.25em;
  display:inline-block;
  padding-right: 0.5em;
}
th.dashboard-status {
  width: 25%;
}
th.dashboard-dob {
  width: 20%;
}

strong {
      font-weight: 700;
    }
.tick {
  color: #00823B;
}

.status{
  width: 6em;
}

.button-spacing{
  padding-top: 1em;
  padding-bottom: 1em;
}

.grey-box {
  background-color: $grey-3;
  padding: 0.1em 1em 1em 1em;
}

.director-email {
  width: 50%;
}

.table-spacing {
  margin-bottom: 1.5em;
}

.closer {
  margin-bottom: 0.25em;
}
textarea {
  width:100%;
}

.doc-name {
  width: 40em;
}
