{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}


{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Withdrawal of closing company application (DS02)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
        <!--<p class="lede">Templeton Metal Works has the following directors listed on the public register.</p>
        <ul class="list list-bullet">
          <li>David Arthur Templeton</li>
          <li>Cathy Nicholas</li>
          <li>UK Metal Work Limited</li>
          <li>Steve Jones</li>
        </ul>-->

        <form class="form" method="POST" action="are-you-a-direc" name="are-you-a-direc">
          <h1 class="heading-xlarge">Are you a director for Templeton Metal Works Limited?</h1>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Are you one of the directors on Templeton Metal Works Limited?</legend>
              <label class="block-label" data-target="example-ni-yes" for="radio-inline-1">
                <input id="radio-inline-1" type="radio" name="presenter" value="Yes">
                Yes
              </label>
              <label class="block-label" data-target="example-ni-no" for="radio-inline-2">
                <input id="radio-inline-2" type="radio" name="presenter" value="No">
                No
              </label>
            </fieldset>

            <div class="panel panel-border-narrow js-hidden" id="example-ni-yes">
              <h2 class="heading-medium" style="margin-top: .5em;">
                Which director are you?
              </h2>
              <div class="form-group">
                <fieldset class="">
                  <legend class="visuallyhidden">Which director are you?</legend>

                  <label class="block-label" for="radio-1">
                    <input id="radio-1" type="radio" name="whichDir" value="David Arthur Templeton">
                    David Arthur Templeton
                  </label>
                  <label class="block-label" for="radio-2">
                    <input id="radio-2" type="radio" name="whichDir" value="Cathy Nicholas">
                    Cathy Nicholas
                  </label>
                  <label class="block-label" for="radio-4">
                    <input id="radio-4" type="radio" name="whichDir" value="Steve Jones">
                    Steve Jones
                  </label>
                </fieldset>
              </div>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="example-ni-no">
              <p>
                To withdraw an application to close this company we will need to know your name. We will contact you through the email address used with this account.
              </p>
              <div class="form-group">
                <label class="form-label" for="presenters-email">Your full name</label>
                <input class="form-control" name="presenters-email" type="text" id="presenters-email">
              </div>
              <!--<div class="form-group">
                <label class="form-label" for="presenters-confirm-email">Phone number</label>
                <input class="form-control" name="presenters-confirm-email" type="text" id="presenters-confirm-email">
              </div>-->
            </div>
          </div>


          <p>
            <a class="button" href="withdraw-app" role="button">Continue</a>
          </p>

        </form>
      <div class="column-third">
        <!--<aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
        <li><a href="#">Related link</a></li>
        <li><a href="#">Related link</a></li>
        <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
      </ul>
    </nav>
  </aside>-->
</div>

</div>
</main>

{% endblock %}
