{% extends "layout.html" %}

{% block page_title %}
Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Submission complete</h1>
        <p>
          Your submission has been recieved. Your reference number is <br>
          <strong class="heading-medium">DS01-05647510-AA57D</strong>
        </p>
      </div>

      <h2 class="heading-medium">What happens now?</h2>
      <p>We'll send you an email confirming your request to withdraw the application to close Temlpleton Metal Work Limited.</p>
      <div class="panel panel-border-wide">
        <p><a href="" target="_blank">Download a copy of your submitted request (PDF, 205Kb)</a></p>
      </div>

      <p>When your application has been processed, we will send you a further email to tell you whether it has been accepted or rejected.  If it has been rejected, we will explain the reasons why.</p>
      <p>You can track the status of your application by <a href="www.gov.uk/get-information-about-a-company">viewing the company’s filing history</a>.</p>

      <h3 class="heading-medium">How did we do?</h3>
      <p>Your feedback will help us make this service better for all our users. It only takes 30 seconds to <a href="v">tell us what you thought of this service</a>.</p>

    </div>
</div>

</main>

{% endblock %}
