{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Statement of capital</h1>
        <p class="lede"></p>

      <h2 class="heading-medium">What is the currency?</h2>
        <form class="form" method="POST" action="" name="">
          <div class="form-group">
            <fieldset>

              <label class="block-label" for="radio-7">
                <input id="radio-7" type="radio" name="radio-group" value="">
                Pound sterling
              </label>
              <label class="block-label" for="radio-9">
                <input id="radio-9" type="radio" name="radio-group" value="">
                Euro
              </label>
              <label class="block-label" for="radio-8">
                <input id="radio-8" type="radio" name="radio-group" value="">
                USD
              </label>
              <label class="block-label" for="radio-10" data-target="other-currency">
                <input id="radio-10" type="radio" name="radio-group" value="">
                Other
              </label>
            </fieldset>

            <div class="panel panel-border-narrow js-hidden" id="other-currency">
              <input class="form-control" id="share-class-name" type="text">
            </div>
          </div>
        </form>

        <div class="form-group">
          <label class="form-label-bold" for="full-name-f1">What's the total number of Ordinary shares in this currency?
          </label>
          <input class="form-control" id="full-name-f1" type="text">
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="">What's the total aggregate nominal value of Ordinary shares in this currency?</label>
            <p class="form-hint">This is the total number of shares multiplied by their nominal values. The nominal value is the value for each share.</p>
          <input class="form-control" id="full-name-f2" type="text">
        </div>


        <div class="form-group">
           <h3 class="heading-medium">Have the shares been paid for in full?</h3>
           <fieldset class="inline">
           <legend class="visuallyhidden">Have the shares been paid for?</legend>
           <label class="block-label" for="share-class-currency-pound" data-target="shares-paid-yes">
             <input id="share-class-currency-pound" type="radio" name="radio-inline-group" value="British Pound">
             Yes
           </label>
           <label class="block-label" for="share-some-paid" data-target="shares-paid-some">
             <input id="share-some-paid" type="radio" name="radio-inline-group" value="British Pound">
             No
           </label>
           <div class="panel panel-border-narrow js-hidden" id="shares-paid-some">
             <div class="form-group">
               <label class="form-label" for="share-class-p">What is the total amount unpaid?</label>
               <input class="form-control" id="share-class-p" type="text">
             </div>
           </div>

         </fieldset>
      </div>

        <a class="button" href="table-page-2" role="button">Continue</a>


   </div>
  </div>

</main>

{% endblock %}
