{% extends "layout.html" %}

{% block page_title %}
Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Submission complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">05647510-AA57D</strong>
        </p>
      </div>

      <h2 class="heading-medium">What happens now?</h2>
      <p>We will send you an email to confirm that your submission has been received and it will include the relevant reference numbers.</p>
      <div class="panel panel-border-wide">
        <p><a href="">Download a copy of your notice of name or other designation of class of shares (SH08)(PDF, 205Kb)</a></p>
      </div>
      <p>When your application has been processed, we will send you a further email to tell you whether the application has been accepted or rejected. We will provide reasons for any application that is rejected.</p>


    </div>
</div>

</main>

{% endblock %}
