{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Notice of name or other designation of class of shares (SH08)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Changing classes of shares</h1>

      <div class="form-group">
        <table>
          <thead>
            <tr>
              <th scope="col">Existing name</th>
              <th scope="col">New name or other designation</th>
              <th scope="col">Amount of shares changed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ordinary</td>
              <td>Ordinary A</td>
              <td>All</td>
            </tr>
            <tr>
              <td>Preferred</td>
              <td>Ordinary C</td>
              <td>20</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group">
          <a href="change-class" class="link">Change more classes of shares</a>
        </div>

        <fieldset class="form-group">
          <h2 class="heading-large">Date of assignment</h2>
          <legend class="visuallyhidden">Date of assignment</legend>
          <div class="form-date">

            <p class="form-hint">For example, 31 01 2016</p>

            <div class="form-group form-group-day">
              <label for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>
        </fieldset>

        <a class="button" href="review" role="button">Finish changing shares</a>

      </div>
    </div>

  </main>

  {% endblock %}
