{% extends "layout.html" %}

{% block page_title %}
Blank page
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% block phase_banner %}
  {% include "includes/phase_banner_alpha.html" %}
  {% endblock %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Strike off a company from the register (DS01)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Create your account</h1>
      <form class="form" method="POST" action="/forms/create-an-account" name="register">

        <div class="form-group">
          <label class="form-label" for="dob-day">Your email address</label>
          <input class="form-control" id="register-email" name="register-email" type="email">
        </div>

        <div class="form-group">
          <label class="form-label" for="register-confirm-username">Confirm your email address</label>
          <input class="form-control" id="register-confirm-email" name="register-confirm-email" type="email">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Create your account">
        </div>

        <p>
          <a href="sign-in">I already have an account</a>
        </p>

      </form>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
