{% extends "layout.html" %}

{% block page_title %}
  Blank page
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Companies House Forms</a></li>
      <li>Strike off a company from the register (DS01)</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Reset your password</h1>

      <p>
        Your password reset email has been sent to the email address you provided. You should check your email inbox and follow the instructons provided within the email.
      </p>

      <a href="sign-in">Home / Sign in</a>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
