{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

      <h1 class="heading-xlarge">Forms Enablement Prototype</h1>

      <div class="panel panel-border-wide">
        <p class="lede">
          This is the home screen for the prototype only and is <strong class="bold-medium">not</strong> shown to the user
        </p>
      </div>

      <h2 class="heading-medium">About this prototype</h2>

      <p>This prototype guides the development of the Forms Enablement project. Further details can be found on the projects <a href="https://companieshouse.atlassian.net/wiki/display/FE/">Confluence space</a></p>

      <h2 class="heading-medium">DS01</h2>

      <a href="/forms/DS01/collection" class="button">Sole director</a>

      <a href="/forms/DS01/multiple-director/confirm-company" class="button">Multiple direc</a>

      <h2 class="heading-medium">SH19</h2>

			<a href="/forms/SH19/start" class="button">Primary journey</a>

      <h2 class="heading-medium">SH08</h2>

			<a href="/forms/SH08/start" class="button">Primary journey</a>

      <h2 class="heading-medium">SH06</h2>

			<a href="/forms/SH06/start" class="button">Primary journey</a>

      <h2 class="heading-medium">SH02</h2>

			<a href="/forms/SH02/start" class="button">Primary journey</a>

      <h2 class="heading-medium">SH10</h2>

			<a href="/forms/SH10/start" class="button">Primary journey</a>

</main>

{% endblock %}
