{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

      <h1 class="heading-xlarge">Forms Enablement Prototype</h1>

      <div class="panel panel-border-wide">
        <p class="lede">
          This is the home screen for the prototype only and is <strong class="bold-medium">not</strong> shown to the user
        </p>
        <p>Random</p>
      </div>

      <h2 class="heading-medium">About this prototype</h2>

      <p>This prototype guides the development of the Forms Enablement project. Further details can be found on the projects <a href="https://companieshouse.atlassian.net/wiki/display/FE/">Confluence space</a></p>

      <h2 class="heading-medium">Primary journey</h2>

      <a href="/forms/collection" class="button">Start - DS01</a>

      <h2 class="heading-medium">Alternate journeys</h2>

			<ul class="list list-bullet">
				<li><a href="">Coming soon</a></li>
			</ul>

</main>

{% endblock %}
